p {
  margin: 0;

}
.date {
  top: 0;
  right: 0;
  position: absolute;
}
.delete {
  bottom: 0;
  right: 0;
  position: absolute;
}
.edit {
  bottom: .3%;
  right: 5%;
  position: absolute;
  margin-right: 15px;
}
.btn {
  padding: 0;
  margin: 0;
}
.bold {
  font-weight: 600;
}
.card {
  /* background-color: rgba(255, 255, 255, 0.365); */
  color: rgb(69, 69, 69);
  background-color: rgb(220, 220, 220);
  display: flex;
  margin: 0 auto;
  box-shadow: 3px 3px 7px rgba(12, 12, 12, 0.568);
}
.desc {
  margin-bottom: 15px;
}